body {
    background-color: rgb(8, 8, 127);
  }
  
  h1 {
    color: rgb(241, 109, 109);
    text-align: center;
  }
  
  h3 {
    color: rgb(255, 255, 255);
    text-align: center;
  }
  
  p {
    font-family: "Comic Sans MS", "Comic Sans";
    font-size: 20px;
    width: 800px;
    margin: 0 auto;
    text-align: center;
  }
  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  header
  h1 {
    font-family: "Papyrus";
  }
  